USE [master]
GO
/****** Object:  Database [Z:\UCHET_OBORUDOVANIA\UCHET_OBORUDOVANIA\BIN\DEBUG\DATABASE1.MDF]    Script Date: 19.06.2026 15:23:56 ******/
CREATE DATABASE [Z:\UCHET_OBORUDOVANIA\UCHET_OBORUDOVANIA\BIN\DEBUG\DATABASE1.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Database1', FILENAME = N'Z:\Uchet_Oborudovania\Uchet_Oborudovania\bin\Debug\Database1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Database1_log', FILENAME = N'Z:\Uchet_Oborudovania\Uchet_Oborudovania\bin\Debug\Database1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Z:\UCHET_OBORUDOVANIA\UCHET_OBORUDOVANIA\BIN\DEBUG\DATABASE1.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Z:\UCHET_OBORUDOVANIA\UCHET_OBORUDOVANIA\BIN\DEBUG\DATABASE1.MDF]
GO
USE [Z:\UCHET_OBORUDOVANIA\UCHET_OBORUDOVANIA\BIN\DEBUG\DATABASE1.MDF]
GO
/****** Object:  Table [dbo].[Category_Oborudovania]    Script Date: 19.06.2026 15:23:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category_Oborudovania](
	[ID_Category] [int] IDENTITY(1,1) NOT NULL,
	[NameCategory] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category_Oborudovania] PRIMARY KEY CLUSTERED 
(
	[ID_Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oborudovanie]    Script Date: 19.06.2026 15:23:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oborudovanie](
	[ID_PC] [int] IDENTITY(1,1) NOT NULL,
	[Seriyn_Num] [int] NOT NULL,
	[ID_Category] [int] NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Date_Buy] [date] NOT NULL,
	[Garantia] [nvarchar](50) NOT NULL,
	[ID_Status] [int] NOT NULL,
	[Prichina_Spisania] [nvarchar](255) NULL,
	[Date_Spisania] [date] NULL,
	[Sotrudnik_Spisal] [int] NULL,
 CONSTRAINT [PK_Oborudovanie] PRIMARY KEY CLUSTERED 
(
	[ID_PC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Remonti]    Script Date: 19.06.2026 15:23:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Remonti](
	[ID_Remont] [int] IDENTITY(1,1) NOT NULL,
	[ID_PC] [int] NOT NULL,
	[Company_Remont] [nvarchar](50) NOT NULL,
	[Prichina_Remonta] [nvarchar](50) NOT NULL,
	[Date_Remonta] [date] NOT NULL,
	[Status_Remonta] [nvarchar](50) NULL,
	[ID_Sotrudnika] [int] NOT NULL,
	[Date_Sozdania] [date] NOT NULL,
 CONSTRAINT [PK_Remonti] PRIMARY KEY CLUSTERED 
(
	[ID_Remont] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 19.06.2026 15:23:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID_Role] [int] IDENTITY(1,1) NOT NULL,
	[Name_Role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[ID_Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sklad]    Script Date: 19.06.2026 15:23:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sklad](
	[ID_Sklad] [int] IDENTITY(1,1) NOT NULL,
	[ID_PC] [int] NOT NULL,
	[Date_Postuplenia] [date] NOT NULL,
	[Date_Vydachi] [date] NULL,
	[Prichina] [nvarchar](max) NULL,
	[Sotrudnik_Postavivshi] [int] NOT NULL,
	[Sotrudnik_Vydavshi] [int] NULL,
 CONSTRAINT [PK_Sklad] PRIMARY KEY CLUSTERED 
(
	[ID_Sklad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Spisanie]    Script Date: 19.06.2026 15:23:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spisanie](
	[ID_Spisanie] [int] IDENTITY(1,1) NOT NULL,
	[ID_PC] [int] NOT NULL,
	[Date_Spisania] [date] NOT NULL,
	[Prichina_Spisania] [nvarchar](max) NOT NULL,
	[Sotrudnik_Spisavshi] [int] NOT NULL,
 CONSTRAINT [PK_Spisanie] PRIMARY KEY CLUSTERED 
(
	[ID_Spisanie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status_Oborudovania]    Script Date: 19.06.2026 15:23:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status_Oborudovania](
	[ID_Status] [int] IDENTITY(1,1) NOT NULL,
	[Name_Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19.06.2026 15:23:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID_Sotrudnika] [int] IDENTITY(1,1) NOT NULL,
	[Fio] [nvarchar](50) NOT NULL,
	[Dolzhnost] [nvarchar](50) NOT NULL,
	[Num_Phone] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[ID_Role] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID_Sotrudnika] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vidachi]    Script Date: 19.06.2026 15:23:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vidachi](
	[ID_Vidachi] [int] IDENTITY(1,1) NOT NULL,
	[ID_Sotrudnika] [int] NOT NULL,
	[ID_PC] [int] NOT NULL,
	[Date_Vidachi] [date] NOT NULL,
	[Status_Vidachi] [nvarchar](50) NULL,
	[Date_Vozvrata] [date] NULL,
 CONSTRAINT [PK_Vidachi] PRIMARY KEY CLUSTERED 
(
	[ID_Vidachi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Oborudovanie]  WITH CHECK ADD  CONSTRAINT [FK_Oborudovanie_Status_Oborudovania] FOREIGN KEY([ID_Status])
REFERENCES [dbo].[Status_Oborudovania] ([ID_Status])
GO
ALTER TABLE [dbo].[Oborudovanie] CHECK CONSTRAINT [FK_Oborudovanie_Status_Oborudovania]
GO
ALTER TABLE [dbo].[Remonti]  WITH CHECK ADD  CONSTRAINT [FK_Remonti_Oborudovanie] FOREIGN KEY([ID_PC])
REFERENCES [dbo].[Oborudovanie] ([ID_PC])
GO
ALTER TABLE [dbo].[Remonti] CHECK CONSTRAINT [FK_Remonti_Oborudovanie]
GO
ALTER TABLE [dbo].[Sklad]  WITH CHECK ADD  CONSTRAINT [FK_Sklad_Oborudovanie] FOREIGN KEY([ID_PC])
REFERENCES [dbo].[Oborudovanie] ([ID_PC])
GO
ALTER TABLE [dbo].[Sklad] CHECK CONSTRAINT [FK_Sklad_Oborudovanie]
GO
ALTER TABLE [dbo].[Spisanie]  WITH CHECK ADD  CONSTRAINT [FK_Spisanie_Oborudovanie] FOREIGN KEY([ID_PC])
REFERENCES [dbo].[Oborudovanie] ([ID_PC])
GO
ALTER TABLE [dbo].[Spisanie] CHECK CONSTRAINT [FK_Spisanie_Oborudovanie]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([ID_Role])
REFERENCES [dbo].[Roles] ([ID_Role])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Vidachi]  WITH CHECK ADD  CONSTRAINT [FK_Vidachi_Oborudovanie] FOREIGN KEY([ID_PC])
REFERENCES [dbo].[Oborudovanie] ([ID_PC])
GO
ALTER TABLE [dbo].[Vidachi] CHECK CONSTRAINT [FK_Vidachi_Oborudovanie]
GO
ALTER TABLE [dbo].[Vidachi]  WITH CHECK ADD  CONSTRAINT [FK_Vidachi_Users] FOREIGN KEY([ID_Sotrudnika])
REFERENCES [dbo].[Users] ([ID_Sotrudnika])
GO
ALTER TABLE [dbo].[Vidachi] CHECK CONSTRAINT [FK_Vidachi_Users]
GO
USE [master]
GO
